annotated-types==0.8.0
ast-serialize==0.8.0
flake8==7.3.0
flake8-pyproject==1.2.4
iniconfig==2.3.0
librt==0.15.0
mccabe==0.7.0
mlx==0.32.1
mlx-cpu==0.32.1
mypy==2.3.1
mypy-extensions==1.1.0
packaging==26.3
pathspec==1.1.1
pluggy==1.6.0
pycodestyle==2.14.0
pydantic==2.13.4
pydantic-core==2.46.4
pyflakes==3.4.0
pygments==2.20.0
pytest==9.1.1
typing-extensions==4.16.0
typing-inspection==0.4.4
